/* здесь используйте глобальные переменные */

/* text-color */
$primary-color-text: #444444;
$secondary-text: #ffffff;
$secondary-dark-text: #000000;
$secondary-light-text: #111111;
$secondary-lighter-text: #222222;


/* bg-color */
$bg-primary: #ffffff;
$bg-basic-green: #68b738;
$bg-opacity-green: rgba(104, 183, 56, 0.85);
$bg-secondary-dark: #eaeaea;
$bg-secondary-light: #f2f2f2;


/* font-weight */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-SemiBold: 600;
$fw-Bold: 700;


/* font-family */
$main-manrope: 'Manrope', sans-serif;
$secondary-WorkSans: "Work Sans", sans-serif;
