.page-header {
  min-height: 50px;

}

.page-header__nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.page-header__mobile-menu {
  display: none;
  flex-direction: column;
  // position: absolute;
  // top: 50px;
  // left: 0;
  // right: 0;
  width: 100vw;
  min-height: calc(100vh - 400px);
  background-color: #cfd7e3;
  opacity: 0;
  z-index: 5;
}

.page-header__mobile-menu.open {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.page-header__mobile-menu-title {
  color: #242c3c;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-transform: uppercase;
}

.page-header__mobile-menu-location {
  padding: 10px 15px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
  border: 1px solid #e5eaf3;
}

.page-header__mobile-menu-text {
  width: 100%;
  position: relative;
  padding: 0 22px;
  margin: 0;
  color: #242c3c;
  font-family: $main-manrope;
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 18px;
  text-align: center;

  &--map {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      mask-image: url("../../images/icons/stack.svg#map");
      background-color: #666666;
      transition: all 0.3s ease-in-out;
      width: 12px;
      height: 18px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      mask-image: url("../../images/icons/stack.svg#menu-arrow");
      background-color: #666666;
      transition: all 0.3s ease-in-out;
      width: 12px;
      height: 18px;
    }
  }

}


.page-header__list {
  @include list-reset;
}

.page-header__item {
  margin-bottom: 15px;
}

.page-header__link {
  @include link-reset;
  position: relative;
  padding-right: 22px;
  color: #242c3c;
  font-family: $main-manrope;
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 18px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    mask-image: url("../../images/icons/stack.svg#menu-arrow");
    background-color: #666666;
    transition: all 0.3s ease-in-out;
    width: 12px;
    height: 18px;
  }

}

.page-header__submenu-list {
  display: none;
  @include list-reset;
}

.page-header__submenu-item {
  margin-bottom: 15px;
}

.page-header__submenu-link {
  @include link-reset;
  color: #242c3c;
  font-family: $main-manrope;
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 18px;
}

.page-header__calc-wrapper {
  display: flex;
  justify-content: center;
  min-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 40px;
  margin-bottom: 15px;
  border: 1px solid #e5eaf3;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.page-header__calc {
  position: relative;
  color: #242c3c;
  font-family: $main-manrope;
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 18px;
  text-align: center;

  &--icon {
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(-50%, -50%);
      right: -40px;
      mask-image: url("../../images/icons/stack.svg#calc");
      background-color: #666666;
      transition: all 0.3s ease-in-out;
      width: 22px;
      height: 22px;
    }
  }
}


.page-header__feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}


.page-header__feedback-link {
  @include link-reset;
  grid-column: 1/4;
  position: relative;
  display: flex;
  padding: 15px 63px 15px 37px;
  color: #000;
  font-family: $main-manrope;
  font-size: 13px;
  line-height: 18px;
  font-weight: $fw-regular;
  border: 1px solid #e5eaf3;


  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(-50%, -50%);
    right: 23px;
    background-image: url("../../images/icons/stack.svg#right-arrow");
    transition: all 0.3s ease-in-out;
    width: 22px;
    height: 22px;
  }
}

.page-header__feedback-tm {
  @include link-reset;
  grid-column: 1/4;
  position: relative;
  display: flex;
  padding: 15px 44px 15px 37px;
  color: #000;
  font-family: $main-manrope;
  font-size: 13px;
  line-height: 18px;
  font-weight: $fw-regular;

  &::after {
    position: absolute;
    content: "";
    top: 28%;
    right: 40px;
    mask-image: url("../../images/icons/stack.svg#tm");
    background-color: #666666;
    transition: all 0.3s ease-in-out;
    width: 22px;
    height: 22px;
  }

}

.page-header__feedback-tm {
  @include link-reset;
  grid-column: 1/2;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 11px 15px 37px;
  color: #000;
  font-family: $main-manrope;
  font-size: 13px;
  line-height: 18px;
  font-weight: $fw-regular;
  border-left: 1px solid #e5eaf3;
  border-right: 1px solid #e5eaf3;
  border-bottom: 1px solid #e5eaf3;

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 33px;
    background-image: url("../../images/icons/stack.svg#tm");
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 20px;
  }
}

.page-header__feedback-whatsapp {
  @include link-reset;
  grid-column: 2/3;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 11px 15px 37px;
  color: #000;
  font-family: $main-manrope;
  font-size: 13px;
  line-height: 18px;
  font-weight: $fw-regular;
  border-left: 1px solid #e5eaf3;
  border-right: 1px solid #e5eaf3;
  border-bottom: 1px solid #e5eaf3;

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 33px;
    background-image: url("../../images/icons/stack.svg#whatsapp");
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 20px;
  }
}

.page-header__relations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #e5eaf3;
}

.page-header__relations-phone {
  @include link-reset;
  padding: 15px 0 15px 40px;
  color: #000;
  font-family: $main-manrope;
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 27px;
  border-bottom: 1px dashed #e5eaf3;
}

.page-header__relations-job {
  color: #6a7181;
  font-family: $main-manrope;
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 18px;
}

.page-header__relations-jobtime {}

// .page-header__button {
//   margin-bottom: 20px;
//   padding: 15px 11px 15px 11px;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   align-items: center;
//   width: 100%;
//   border: none;
//   background-color: #cf0953;
//   color: #ffffff;
//   font-family: $main-manrope;
//   font-size: 13px;
//   font-weight: $fw-regular;
//   line-height: 18px;

// }

// .page-header__arrow {
//   max-width: calc(100% - 100px);
//   position: relative;
//   color: #ffffff;
//   font-family: $main-manrope;
//   font-size: 13px;
//   font-weight: $fw-regular;
//   line-height: 18px;
//   text-align: center;

//   &--arrow {
//     &::after {
//       position: absolute;
//       content: "";
//       top: 50%;
//       right: -40px;
//       transform: translate(-50%, -50%);
//       mask-image: url("../../images/icons/stack.svg#right-arrow");
//       background-color: #ffffff;
//       transition: all 0.3s ease-in-out;
//       width: 20px;
//       height: 20px;
//     }
//   }
// }

.page-header__burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 45px;
  margin-right: 20px;
  flex-shrink: 0;
  width: 80px;
  height: 30px;
}

.page-header__toggle.page-header__toggle--close {
  position: absolute;
  left: -10px;
  top: -10px;
  display: block;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 25px;
    height: 1.5px;
    background-color: #000000;
    box-shadow:
      0 0px 0 0#000000,
      0 16px 0 0#000000;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 25px;
    height: 1.5px;
    background-color: #000000;
    box-shadow:
      0 0px 0 0#000000,
      0 16px 0 0#000000;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header__toggle.page-header__toggle--open {
  position: absolute;
  left: -18px;
  z-index: 2;
  display: block;
  width: 64px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 25px;
    left: 18px;
    width: 36px;
    height: 1.5px;
    background-color: #000000;
  }

  &::after {
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 1.5px;
    background-color: #000000;
  }
}

.page-header__burger-text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.page-header-social__list {
  @include list-reset;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: 22px;
}

.page-header-social__item {
  width: 20px;
  height: 20px;
}

.page-header-social__link {
  @include link-reset;
  display: inline-block;
  width: 20px;
  height: 20px;

  &--phone {
    background-image: url("../../images/icons/stack.svg#phone");
    transition: all 0.3s ease-in-out;
    width: 20px;
    height: 20px;
  }

  &--whatsapp {
    background-image: url('../../images/icons/stack.svg#whatsapp');
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    width: 20px;
    height: 20px;
  }

  &--tm {
    background-image: url('../../images/icons/stack.svg#tm');
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    width: 20px;
    height: 20px;
  }

}
